<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <title>問い合わせ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>問い合わせチャットボット</h1>
            {% for row in conversation_history %}
                <p>{{row["role"]}}：</p> <p>{{row["content"]}}</p>
            {% endfor %}
        <form action="/chat" method="POST">
            <label >
                ユーザー：
                <input type="text" name="user_questions" required>
            </label>
        </form>
    </body>
</html>