<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <title>問い合わせ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>問い合わせチャットボット</h1>
            {% for row in conversation_history %}
                <p>{{row["role"]}}：</p> <p>{{row["content"]}}</p>
            {% endfor %}

        <button onclick = "select_option('募集職種について')">募集職種について</button>
        <button onclick = "select_option('仕事内容・業務詳細について')">仕事内容・業務詳細について</button>
        <button onclick = "select_option('勤務地について')">勤務地について</button>
        <button onclick="select_option('給与について')">給与について</button>
        <button onclick="select_option('服装について')">服装について</button>
        <button onclick="select_option('事業内容について')">事業内容について</button>


        <form action="/chat" method="POST" id="chat_form">
            <label >
                ユーザー：
                <input type="text" name="user_questions" id="user_questions" required>
            </label>
            <button type="submit">送信</button>
        </form>
        <script src="{{ url_for('static', filename='chat.js') }}"></script>
    </body>
</html>